$bg: aliceblue;
$fg: darkslategrey;
$primary1: tomato
#primary1-hi: orangered;

body {
	font: 35px 'Helvetica Neue';
	font-weight: 100;
	background-color: $bg;
	color: $fg;
}

.form input {
	border: solid 1px lightgrey;
	padding: 3px 15px;
}

.form-group {
	margin-bottom: 40px;
	transition: all 1.5s;
	label {
		display: inline-block;
		width: 20%;
	}

	input, .form-control
		width: 75%;
		float: right;
	}
}

.button {
	background-color: $primary1;
	padding: 10px 16px;
	border: none;
	color: #fff;
	transition: all 0.5s;
}

.button:hover {
	background-color: $primary1-hi;
}
