<% if (bourbon) { %>@import "bourbon/bourbon";><% } %>
<% if (neat) { %>@import "neat/neat";><% } %>


/************************
 * DEFAULTS
 ************************/

* {
	box-sixing: border-box;
}

body {
	// string everything off the googleFont after the ':'. e.g. Lato:300,400 -> Lato
	// I should do this logic in sass rather than this ejs mess
  font: 24px <% if (googleFont) { %><%= googleFont.split(':')[0]%>, <% } %>Helvetica, 'Segoe UI', Arial, sans-serif;
	font-weight: 300;
  padding: 50px;
}

a { }
a:visited { }

h1 { font-size: 72px; }
h2 { font-size: 55px; }
h3 { font-size: 32px; }
h4 { font-size: 24px; }

p { margin: 0 0 20px; }

section {
	margin-bottom: 50px;
}

/************************
 * COMPONENTS
 ************************/

.input-stealth {
	border: 0;
	box-shadow: none;
}

.narrower {
	max-width: 600px;
	margin: 0 auto;
}

.blur {
	-webkit-filter: blur(20px);
	-moz-filter: blur(15px);
	-o-filter: blur(15px);
	-ms-filter: blur(15px);
	filter: blur(15px);
}

.header-cell {
	text-align: right;
	vertical-align: top;
	padding-right: 0.3em;
	width: 1px;
}

.mega-announce {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(255,255,255, 0.8);
	font-size: 150px;
	text-align: center;
	line-height: 100vh;
}

/************************
 * HELPER FUNCTIONS
 ************************/

.block { display: block; }
.left { text-align: left; }
.right { text-align: right; }
.text-smaller { font-size: 18px; }
.text-extra-muted { color: #d6d6d6; }
.text-extra-muted::-webkit-input-placeholder { color: #d6d6d6; }
.text-extra-muted:-moz-placeholder { color: #d6d6d6; }
.text-extra-muted::-moz-placeholder { color: #d6d6d6; }
.text-extra-muted:-ms-input-placeholder { color: #d6d6d6; }

<% if (bootstrap) { %>
/************************
 * BOOTSTRAP OVERRIDES
 ************************/

.form-control {
	font-size: 18px;
	padding: 21.6px 14.4px;
}

.form-control-md {
	font-size: 24px;
}

.form-control.right {
	position: relative;
	right: -0.8em; /* offset right padding inside text box */
}
<% } %>
