<% if (includeBourbon) { %>@import "bourbon/bourbon";><% } %>
<% if (includeNeat) { %>@import "neat/neat";><% } %>


// UTIL

* {
	box-sixing: border-box;
}

// DEFAULTS

body {
	font-family: "Helvetica", "Segoe UI", Arial, Sans-Serif;
	font-weight: 300;
}